@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

body {
    margin: 50px;

    background-image: url("../assets/images/background.png");
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-position: top center;
}

.home-page > h1 {
    font-family: 'Dancing Script';
    color: rgb(71, 46, 14);
    font-weight: 800;
    text-align: center;
    font-size: 75px;
}
